* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#pixi-canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    /* Older Gecko browser */
    -ms-transform: translate(-50%, -50%);
    /* IE9+ */
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}